

.gallery-grid {
  /* Custom styles for the gallery container */
  /* Modify the layout, spacing, etc. */
  // display: grid !important;
  grid-template-columns: repeat(5, 1fr) ;
  grid-auto-rows: 200px;
  //repeat(auto-fill, minmax(200px, 1fr));//repeat(3, 1fr);
  // height: 200px;
  grid-gap: 5px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // width: calc(33.33% - 10px);

}



/* Individual gallery item */
.gallery-item {
  /* Modify the shape */

  // width: calc(80%);
  // height: 200px;//calc(70%);
  border-radius: 5px;
  overflow: hidden;
}

/* Image inside gallery item */
.gallery-item img {
  /* Modify the shape */
  border-radius: 5px;
  object-fit: cover; 
  // display: inherit;
  width: 100%;
  height: 100%;
}