.gallery {
  /* Custom styles for the gallery container */
  /* Modify the layout, spacing, etc. */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* Individual gallery item */
.gallery-item {
  /* Modify the shape */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border-radius: 5px;
  overflow: hidden;
}

/* Image inside gallery item */
.gallery-item img {
  /* Modify the shape */
  border-radius: 5px;
  object-fit: cover; 
  // display: inherit;
  width: 100%;
  height: 100%;
}


